[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
[submodule "include/SDL"]
	path = include/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/entt"]
	path = include/entt
	url = https://github.com/skypjack/entt
[submodule "include/jsonSrc"]
	path = include/jsonSrc
	url = https://github.com/nlohmann/json
[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp
